<div class="container">
  <div class="left">
    <img class="logo" src="/assets/images/logo.png" alt="Logo" />
    <a routerLink="/catalog" routerLinkActive="active">Catalog</a>
    <a routerLink="/search" routerLinkActive="active">Search</a>
    <div class="cart">
      <a routerLink="/cart" routerLinkActive="active">Cart</a>
    </div>
  </div>
  <div class="right">
    <a routerLink="/hire/edu-point" routerLinkActive="active">EduPoint</a>
    <a routerLink="/hire/edu-cart">Edu Cart</a>
  </div>
</div>